[Desktop Entry]
Name=Epic Games Launcher
Comment=Access the Epic Games Store
Exec=epic-games-launcher %U
Icon=epic-games-launcher
Type=Application
Categories=Game;
MimeType=com.epicgames.eos://;
StartupWMClass=EpicGamesLauncher.exe
StartupNotify=true
